<section class="travel-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="single-travel-boxes">
          <div class="desc-tabs">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#tours">
                  <i class="fa fa-plane"></i>
                  Tìm kiếm tour mong muốn
                </a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active">
                <div class="tab-para">
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="single-tab-select-box">
                        <h2>Điểm đến</h2>
                        <div class="travel-select-icon">
                          <select #locationId class="form-control" id="select-box">
                            <option value="0">Chọn thành phố muốn đến</option>
                            <option *ngFor="let location of locations" [value]="location.id">{{location.name}}</option>
                          </select><!-- /.select-->
                        </div>
                      </div><!--/.single-tab-select-box-->
                    </div><!--/.col-->
                    <div class="col-lg-2 col-md-3 col-sm-4">
                      <div class="single-tab-select-box">
                        <h2>Ngày đi</h2>
                        <div class="travel-check-icon">
                          <input type="date" class="form-control" #startDate
                                 data-toggle="datepicker" placeholder="12-01-2017">
                        </div><!-- /.travel-check-icon -->
                      </div><!--/.single-tab-select-box-->
                    </div><!--/.col-->
                    <div class="col-lg-2 col-md-1 col-sm-4">
                      <div class="single-tab-select-box">
                        <h2>Số lượng</h2>
                        <div class="">
                          <input class="form-control" type="text"
                                 style="height: 47px;width: 100px;text-align: center ;font-size: 20px;font-weight: 600"
                                 #slot>
                        </div><!-- /.travel-select-icon -->
                      </div><!--/.single-tab-select-box-->
                    </div><!--/.col-->
                  </div><!--/.row-->
                  <div class="row">
                    <div class="col-sm-7">
                      <div class="about-btn travel-mrt-0 pull-left">
                        <button type="button" (click)="searchTours(locationId.value,startDate.value,slot.value)"
                                class="about-view travel-btn">
                          Tìm kiếm
                        </button><!--/.travel-btn-->
                      </div><!--/.about-btn-->
                    </div><!--/.col-->
                  </div><!--/.row-->
                </div><!--/.tab-para-->
              </div><!--/.tabpannel-->
            </div><!--/.tab content-->
          </div><!--/.desc-tabs-->
        </div><!--/.single-travel-box-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/.travel-box-->

<section id="gallery" class="gallery">
  <div class="container">
    <div class="gallery-details">
      <div class="gallary-header text-center">
        <h2>
          Các địa điểm du lịch phổ biến
        </h2>
      </div><!--/.gallery-header-->
      <div class="gallery-box">
        <div class="gallery-content">
          <div class="filtr-container">
            <div class="row">
              <div class="col-md-4">
                <div class="filtr-item">
                  <img style="height: 300px; width: 400px"
                       src="{{locations[0].imgLocation}}"
                       alt="portfolio image"/>
                  <div class="item-title">
                    <a (click)="searchTours(locations[0].id.toString(),startDate1,slot1)">
                      {{locations[0].name}}
                    </a>
                    <p><span>{{locations[0].mostLocation}} tour du lịch</span></p></div>
                  <!-- /.item-title -->
                </div><!-- /.filtr-item -->
              </div><!-- /.col -->

              <div class="col-md-4">
                <div class="filtr-item">
                  <img style="height: 300px; width: 400px"
                       src="{{locations[1].imgLocation}}"
                       alt="portfolio image"/>
                  <div class="item-title">
                    <a (click)="searchTours(locations[1].id.toString(),startDate1,slot1)">
                      {{locations[1].name}}
                    </a>
                    <p><span>{{locations[1].mostLocation}} tour du lịch</span></p></div>
                  <!-- /.item-title-->
                </div><!-- /.filtr-item -->
              </div><!-- /.col -->

              <div class="col-md-4">
                <div class="filtr-item">
                  <img style="height: 300px; width: 400px"
                       src="{{locations[2].imgLocation}}">
                  <div class="item-title">
                    <a (click)="searchTours(locations[2].id.toString(),startDate1,slot1)">
                      {{locations[2].name}}
                    </a>
                    <p><span>{{locations[2].mostLocation}} tour du lịch</span></p></div>
                  <!-- /.item-title-->
                </div><!-- /.filtr-item -->
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.filtr-container-->
        </div><!-- /.gallery-content -->
      </div><!--/.galley-box-->
    </div><!--/.gallery-details-->
  </div><!--/.container-->
</section><!--/.gallery-->
<section id="pack" class="packages">
  <div class="container">
    <div class="gallary-header text-center">
      <h2>
        Tour du lịch
      </h2>
    </div><!--/.gallery-header-->
    <div class="packages-content">
      <div class="row">
        <div class="col-md-4 col-sm-6" *ngFor="let tour of tours">
          <div class="single-package-item">
            <div *ngIf="tour.remaining == 0" class="soldout-container"
                 style="left: 20px;position: absolute;top: 400px;">
              <div class="sold-out">Hết vé!</div>
              <div class="divider"></div>
              <div class="deets">Sỗ lượng chỗ đã được đặt hết</div>
            </div>
            <img style="height: 233px;width: 100%"
                 src="{{tour.img}}"
                 alt="package-place">
            <div class="single-package-item-txt">
              <h3>{{tour.location}}<span class="pull-right"
                                         style="color: blue">{{tour.price | number}}<sup>đ</sup></span></h3>
              <!--              <span class="pull-right"-->
              <!--                    style="color: gray; font-size: 16px;text-decoration: line-through;">{{tour.price * 1.1 | number}}<sup>đ</sup></span>-->
              <div class="packages-para">
                <ul>
                  <li>
                    <span><i class="fa fa-angle-right"></i> &nbsp;{{tour.schedule | slice: 0:60}}<span
                      *ngIf="tour.schedule.length > 60">...</span></span>
                  </li>
                  <li><span style="color: blue;">Số chỗ còn nhận : &nbsp;</span> <span
                    style="color: black">{{tour.remaining}}</span></li>
                  <li><span style="color: blue;">Ngày xuất phát: &nbsp; </span> <span
                    style="color: black">{{tour.startDate | date: 'dd/MM/yyyy'}}</span>
                  </li>
                  <li><span style="color: blue;">Ngày kết thúc: &nbsp; </span> <span
                    style="color: black">{{tour.endDate | date: 'dd/MM/yyyy'}}</span>
                  </li>
                </ul>
              </div>
              <div class="row justify-content-center">
                <div class="about-btn" *ngIf="tour.remaining > 0">
                  <button (click)="addToCart(tour)" type="button" class="about-view packages-btn">
                    Đặt ngay
                  </button>
                </div>
                <div class="about-btn">
                  <button type="button" [routerLink]="['detail',tour.id]" style="margin-left: 10px"
                          class="about-view packages-btn">
                    Chi tiết
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <button *ngIf="!last" type="button" (click)="seeMore()" class="about-view travel-btn">
        Xem thêm
      </button>
    </div>
  </div>
</section>
