.single-package-item:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.single-package-item img {
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

button:hover {
  cursor: pointer;
}
p , span {
  font-size: 18px;
}
body {
  font-family: 'Montserrat';
}
.soldout-container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:320px;
  border:3px solid #f15c60;
  border-radius:10px;
  color:#f15c60;
  font-size:20px;
  transform:rotate(15deg) translateY(15px);
}
.soldout-container > * {
  opacity:0.8;
}
.soldout-container > div:nth-child(2) {
  background-color:#f15c60;
}
.soldout-container .sold-out {
  font-size:1.5em;
  font-weight:700;
}
.soldout-container .divider {
  height:2px;
  width:98%;
}
.deets {
  opacity:1;
  background-color:rgba(255,255,255,0.5);
}
.almost {
  font-size:13px;
  border:3px solid #337ab7;
  color:#337ab7;
}
.almost > div:nth-child(2) {
  background-color:#337ab7;
}
