<footer class="footer-copyright" style="padding-bottom: -100px">
  <div class="container">
    <div class="footer-content">
      <div class="row">

        <div class="col-sm-3">
          <div class="single-footer-item">
            <div class="footer-logo">
              <a href="index.html">
                Phuc<span>Travel</span>
              </a>
            </div>
          </div><!--/.single-footer-item-->
        </div><!--/.col-->

        <div class="col-sm-3">
          <div class="single-footer-item">
            <h2>Thông tin</h2>
            <div class="single-footer-txt">
              <p><a href="#">Tạp chí du lịch</a></p>
              <p><a href="#">Cẩm nang du lịch</a></p>
              <p><a href="#"></a>Tin tức</p>
              <p><a href="#">Sitemap</a></p>
              <p><a href="#">Chính sách riêng tư</a></p>
              <p><a href="#">Thỏa thuận sử dụng</a></p>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->
        </div><!--/.col-->
        <div class="col-sm-3">
          <div class="single-footer-item">
            <h2>Các địa điểm du lịch</h2>
            <div class="single-footer-txt">
              <p><a href="#">Hà Nội</a></p>
              <p><a href="#">Đà Nẵng</a></p>
              <p><a href="#">Hồ Chí Minh</a></p>
              <p><a href="#">Hạ Long</a></p>
              <p><a href="#">Huế</a></p>
              <p><a href="#">Nha Trang</a></p>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->
        </div><!--/.col-->

        <div class="col-sm-3">
          <div class="single-footer-item text-center">
            <h2 class="text-left">Liên hệ</h2>
            <div class="single-footer-txt text-left">
              <p>206 Nguyễn Duy Trinh, Hòa Hải</p>
              <p>Quận Ngũ Hành Sơn,TP. Đà Nẵng</p>
              <p>(+84) 898 211 458</p>
              <p>(+84) 123 456 789</p>
              <p class="foot-email"><a href="#">nguyenthienphuc1811@gmail.com</a></p>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->
        </div><!--/.col-->
      </div><!--/.row-->
    </div><!--/.footer-content-->
    <hr>
    <div id="scroll-Top">
      <i class="fa fa-angle-double-up return-to-top" id="scroll-top1" data-toggle="tooltip" data-placement="top"
         title="" data-original-title="Back to Top" aria-hidden="true"></i>
    </div><!--/.scroll-Top-->
  </div><!-- /.container-->
</footer>
