<section class="h-custom" style="background-color: #F0E68C;">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="card shopping-cart" style="border-radius: 15px; width: 100%;">
        <div class="card-body text-black" style="width: 100%; min-height: 600px">
          <div class="row">
            <div class="col-lg-8 px-5 py-4">
              <h3 class="text-center fw-bold text-uppercase" style="margin-top: 2px; padding-bottom: 5px">Chuyến đi</h3>
              <div style="overflow: auto; height: 450px">
                <div style="display: flex;border: 2px solid #005ec4; padding: 10px;margin-bottom: 10px"
                     *ngFor="let booking of bookings;index as i">
                  <div class="flex-shrink-0">
                    <img src="{{booking.tours.img}}"
                         class="img-fluid" style="width: 170px;height: 180px" alt="Generic placeholder image">
                  </div>
                  <div class="flex-grow-1" style="padding-left: 10px; font-size: 18px">
                    <h4 class="text-primary">{{booking.tours.schedule | slice: 0 : 60}}<span
                      *ngIf="booking.tours.schedule.length > 60">...</span>
                    </h4>
                    <ul style="padding-left: 0">
                      <li style="list-style: none">Địa điểm: <span
                        class="text-primary">{{booking.tours.location.name}}</span>
                      </li>
                      <li style="list-style: none">Ngày bắt đầu: <span
                        class="text-primary">{{booking.tours.startDate}}</span>
                      </li>
                      <li style="list-style: none">Ngày kết thúc: <span
                        class="text-primary">{{booking.tours.endDate}}</span>
                      </li>
                      <li style="list-style: none">Số chỗ còn lại: <span
                        class="text-primary">{{booking.tours.remaining}}</span>
                      </li>
                      <li>
                        <div class="d-flex">
                          <button class="btn btn-link px-2" style="background-color: #FF9933"
                                  (click)="changeQuantity(slot.value,i)"
                                  onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            <i class="fas fa-minus" style="color: white"></i>
                          </button>
                          <label>
                            <input min="0" style="width: 50px; height: 30px;text-align: center" name="quantity"
                                   [value]="booking.slot" #slot (change)="changeQuantity(slot.value,i)"
                                   type="number"
                                   class="form-control form-control-sm"/>
                          </label>
                          <button class="btn btn-link px-2" style="background-color: #FF9933"
                                  (click)="changeQuantity(slot.value,i)"
                                  onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            <i class="fas fa-plus" style="color: white"></i>
                          </button>
                          <button style="margin-left: 10px" class="btn btn-danger" type="button"
                                  (click)="deleteTour(booking.id)">Hủy bỏ
                          </button>
                        </div>
                      </li>
                      <li>
                      <li style="list-style: none">Tổng tiền: <span
                        class="text-primary">{{booking.tours.price * booking.slot | number}}<sup>đ</sup></span>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
              <hr class="mb-4" style="height: 2px; background-color: #1266f1; opacity: 1;">
              <div class="" style="background-color: #e1f5fe; padding: 5px">
                <h3 class="fw-bold mb-0" style="justify-content: space-between">Tổng tiền: <span>{{total | number}}<sup>đ</sup></span>
                </h3>
              </div>
            </div>
            <div class="col-lg-4 px-5 py-4">
              <h3 class="text-center fw-bold text-uppercase" style="margin-top: 2px; padding-bottom: 5px">Thanh
                toán</h3>
              <!--              <div class="form-outline mb-5">-->
              <!--                <input type="text" id="typeText1" class="form-control form-control-lg" siez="17" minlength="19"-->
              <!--                       maxlength="19"/>-->
              <!--                <label class="form-label" for="typeText1">Số thẻ</label>-->
              <!--              </div>-->

              <!--              <div class="form-outline mb-5">-->
              <!--                <input type="text" id="typeName" class="form-control form-control-lg" size="17"-->
              <!--                />-->
              <!--                <label class="form-label" for="typeName">Tên chủ thẻ</label>-->
              <!--              </div>-->
              <!--              <div class="row">-->
              <!--                <div class="col-md-6 mb-5">-->
              <!--                  <div class="form-outline">-->
              <!--                    <input type="text" id="typeExp" class="form-control form-control-lg"-->
              <!--                           size="7" id="exp" minlength="7" maxlength="7"/>-->
              <!--                    <label class="form-label" for="typeExp">Hạn thẻ</label>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--                <div class="col-md-6 mb-5">-->
              <!--                  <div class="form-outline">-->
              <!--                    <input type="password" id="typeText" class="form-control form-control-lg"-->
              <!--                           size="1" minlength="3" maxlength="3"/>-->
              <!--                    <label class="form-label" for="typeText">Mã số bảo mật</label>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->
              <div id="paypal" style="margin-top: 10px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
