<section class="h-100 h-custom" style="background-color: #F0E68C;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="card shopping-cart" style="border-radius: 15px;">
        <div class="card-body text-black">
          <div class="row" style="margin-top: 100px">
            <div class="col-lg-8 px-5 py-4">
              <h3 class="text-center fw-bold text-uppercase" style="margin-top: 2px; padding-bottom: 5px">Chuyến đi</h3>
              <div style="display: flex">
                <div class="flex-shrink-0">
                  <img src="https://media.travel.com.vn/tour/tfd_220225095117_550829.jpg"
                       class="img-fluid" style="width: 200px;height: 200px" alt="Generic placeholder image">
                </div>
                <div class="flex-grow-1" style="padding-left: 10px; font-size: 18px">
                  <h4 class="text-primary">Quy Nhơn - Eo Gió - Kỳ Co - Phú Yên - Gành Đá Dĩa</h4>
                  <ul style="padding-left: 0">
                    <li style="list-style: none">Địa điểm khởi hành: <span class="text-primary">Quy Nhơn</span></li>
                    <li style="list-style: none">Ngày bắt đầu: <span class="text-primary">20/03/2023</span></li>
                    <li style="list-style: none">Ngày kết thúc: <span class="text-primary">22/03/2023</span></li>
                    <li style="list-style: none">Số chỗ còn lại: <span class="text-primary">5</span></li>
                  </ul>
                  <div class="center" style="width: 140px; position: relative">
                    <div class="input-group">
          <span class="input-group-btn">
              <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quant[2]">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
          </span>
                      <input type="text" name="quant[2]" class="form-control input-number text-center" value="10" min="1"
                             max="100">
                      <span class="input-group-btn">
              <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
          </span>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mb-4" style="height: 2px; background-color: #1266f1; opacity: 1;">
              <div class="d-flex" style="background-color: #e1f5fe; padding: 5px">
                <h3 class="fw-bold mb-0">Tổng tiền: <span class="pull-right">500,000đ</span></h3>
              </div>
            </div>
            <div class="col-lg-4 px-5 py-4">
              <h3 class="text-center fw-bold text-uppercase" style="margin-top: 2px; padding-bottom: 5px">Thanh
                toán</h3>
              <div class="form-outline mb-5">
                <input type="text" id="typeText1" class="form-control form-control-lg" siez="17" minlength="19"
                       maxlength="19"/>
                <label class="form-label" for="typeText1">Số thẻ</label>
              </div>

              <div class="form-outline mb-5">
                <input type="text" id="typeName" class="form-control form-control-lg" size="17"
                />
                <label class="form-label" for="typeName">Tên chủ thẻ</label>
              </div>

              <div class="row">
                <div class="col-md-6 mb-5">
                  <div class="form-outline">
                    <input type="text" id="typeExp" class="form-control form-control-lg"
                           size="7" id="exp" minlength="7" maxlength="7"/>
                    <label class="form-label" for="typeExp">Hạn thẻ</label>
                  </div>
                </div>
                <div class="col-md-6 mb-5">
                  <div class="form-outline">
                    <input type="password" id="typeText" class="form-control form-control-lg"
                           size="1" minlength="3" maxlength="3"/>
                    <label class="form-label" for="typeText">Mã số bảo mật</label>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary btn-block btn-lg">Đặt ngay</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
