/*@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');*/


/*html {*/
/*  height: 100%;*/
/*  overflow: hidden;*/
/*  background: hsl(0,0%,95%);*/
/*}*/
/*body {*/
/*  font-family: 'Staatliches', cursive;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/
/*a {*/
/*  color: black;*/
/*  text-decoration: none;*/
/*}*/
/*.wrapper {*/
/*  position: absolute;*/
/*  margin: auto;*/
/*  top: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/

/*  width: 900px;*/
/*  height: 450px;*/

/*  background: hsl(0,0%,95%);*/
/*  box-shadow: 1px 1px 25px 3px rgba(0,0,0,.3);*/
/*}*/


/*!*************!*/
/*.nav {*/
/*  position: relative;*/
/*  left: 2%;*/
/*  height: 10%;*/
/*  width: max-content;*/
/*}*/
/*.navbar {*/
/*  padding-top: 2%;*/
/*}*/
/*.navbar li {*/
/*  position: relative;*/
/*  list-style: none;*/
/*  display:inline;*/
/*  margin-right: 1vw;*/

/*  font-size: 1.225rem;*/
/*}*/
/*.navbar li::after {*/
/*  content:"";*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  left: 0;*/

/*  width: 100%;*/
/*  height: 2px;*/

/*  background: black;*/

/*  transform: scaleX(0);*/
/*  transform-origin: right;*/
/*  transition: transform 250ms ease;*/
/*}*/
/*.navbar li:hover::after {*/
/*  transform: scaleX(1);*/
/*  transform-origin: left;*/

/*  box-shadow: 0px 4px 5px 2px rgba(0,0,0,.1);*/
/*}*/


/*!*************!*/
/*.header{*/
/*  position: absolute;*/
/*  width: max-content;*/
/*  font-size: 2.875rem;*/

/*  white-space: nowrap;*/

/*  top: 25%;*/
/*  left: 7%;*/
/*}*/
/*.header::after {*/
/*  content:'';*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 5%;*/

/*  background: black;*/
/*}*/


/*!*************!*/
/*.content {*/
/*  position: absolute;*/
/*  font-size: 1.525rem;*/
/*  width: 40%;*/

/*  top: 45%;*/
/*  left: 7%;*/
/*}*/
/*.image {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  right: 0;*/

/*  width: 50%;*/
/*  height: 100%;*/
/*  background-image: url(https://images.unsplash.com/photo-1580707578919-892eb22db615?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG1hbiUyMHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);*/
/*  clip-path: polygon(35% 0%, 100% 0, 100% 100%, 8% 100%);*/

/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*}*/
