<meta content="width=device-width, initial-scale=1" name="viewport" />
<div id="home" class="first_page">
  <div class="wrapper">
    <h4 class="text-primary">Quy Nhơn - Eo Gió - Kỳ Co - Phú Yên - Gành Đá Dĩa</h4>
    <ul style="padding-left: 0">
      <li style="list-style: none">Địa điểm khởi hành: <span class="text-primary">Quy Nhơn</span></li>
      <li style="list-style: none">Ngày bắt đầu: <span class="text-primary">20/03/2023</span></li>
      <li style="list-style: none">Ngày kết thúc: <span class="text-primary">22/03/2023</span></li>
      <li style="list-style: none">Số chỗ còn lại: <span class="text-primary">5</span></li>
    </ul>
  </div>
</div>
