<header class="top-area" style="z-index: 10">
  <div class="header-area position-sticky">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="logo">
            <a routerLink="/">
              Phuc<span>Travel</span>
            </a>
          </div><!-- /.logo-->
        </div><!-- /.col-->
        <div class="col-sm-10">
          <div class="main-menu">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse"
                      data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
              </button><!-- / button-->
            </div><!-- /.navbar-header-->
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right" style="display: inline-block">
                <li class="smooth-menu"><a routerLink="/">Trang chủ</a></li>
                <li class="smooth-menu"><a href="#gallery">Điểm đến</a></li>
                <li class="smooth-menu"><a href="#pack">Gói</a></li>
                <li *ngIf="isLogged == true" class="smooth-menu" style="max-height: 76px"><a style="height: 60px" routerLink="/cart"><i
                  style="color: white;font-size: 18px; top: 5px; padding-bottom: 5px"
                  class="fa-solid fa-cart-shopping"><span style="color: white;
    background: #cb2027;
    border-radius: 100%;
    z-index: 99;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    top: -10px;
    right: -20px;">{{booking.length}}</span></i>
                </a></li>
                <li class="smooth-menu" *ngIf="isLogged == false">
                  <button type="button" routerLink="/login" class="book-btn">Đăng nhập
                  </button>
                </li>
                <li class="smooth-menu" style="display: inline-block" *ngIf="isLogged == true"><img
                  src="{{user.avatar}}"
                  style="width: 40px;height: 40px;border-radius: 50%;border: 1px solid #0F9E5E;margin-right: 10px">
                  <a style="display:inline;padding-bottom: 31px" (click)="checkProfile()">{{user.name}}</a>
                </li>
                <li *ngIf="isLogged == true">
                  <button (click)="logout()" type="button" class="book-btn btn-danger">Đăng
                    xuất
                  </button>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.main-menu-->
        </div><!-- /.col-->
      </div><!-- /.row -->
      <div class="home-border"></div><!-- /.home-border-->
    </div><!-- /.container-->
  </div><!-- /.header-area -->
</header><!-- /.top-area-->
<section id="home" class="about-us">
  <div class="container">
    <div class="about-us-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="single-about-us">
            <div class="about-us-txt">
              <h2>
                Khám phá vẻ đẹp của Việt Nam
              </h2>
              <div class="about-btn">
                <button class="about-view">
                  Khám phá ngay
                </button>
              </div><!--/.about-btn-->
            </div><!--/.about-us-txt-->
          </div><!--/.single-about-us-->
        </div><!--/.col-->
        <div class="col-sm-0">
          <div class="single-about-us">
          </div><!--/.single-about-us-->
        </div><!--/.col-->
      </div><!--/.row-->
    </div><!--/.about-us-content-->
  </div><!--/.container-->
</section>
